@charset "UTF-8";
/* 전체 div */
#all_div {
    margin: 80px auto 0px auto;
    width: 1000px;
}

/* img, 메뉴 이름, 검색 div */
#menu_div {
    padding: 0px 10px;
    display: flex;
    border-bottom: 4px solid #efefef;
}

#menu_left_div {
    flex: 1;
    text-align: left;
    padding-bottom: 20px;
}

#detaildiv{
	background-color:#e9e7e9;

}	
#detailtable{
	margin-left:200px;
}
#replydiv{
	margin-left:100px;
}	
#content{
	margin-right:100px;
	width:600px;
	border:1px solid black;
	min-height:400px; 
}

