@charset "UTF-8";
/* 전체 div */
#all_div {
    margin: 80px auto 0px auto;
    width: 1000px;
}

/* img, 메뉴 이름, 검색 div */
#menu_div {
    padding: 0px 10px;
    display: flex;
    border-bottom: 4px solid #efefef;
}

#menu_left_div {
    flex: 1;
    text-align: left;
    padding-bottom: 20px;
}

#menu_img {
    width: 40px;
    height: 40px;
    text-align: left;
    vertical-align: bottom;
    color: rgb(202,240,170);
}

#menu{
	font-size: 30px;
	font-weight: 700;
	text-align: left;
}

.writeForm{
	border: 1px solid black;
}

#writer{
	float:left;
	border: 1px solid black;
	
}


#category{
	float:left;
	border: 1px solid black;
}

#title .textarea_input{
	display: block;
    width: 100%;
    min-height: 40px;
    padding: 11px 12px 10px;
    border: 1px solid #ebecef;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    word-break: break-all;
    font-size: 15px;
    letter-spacing: -.23px;
    line-height: 17px;
    outline: none;
}

#hashTag{
	float:left;
	border: 1px solid black;
}

#content{
	text-align:center;
	border: 1px solid black;
}
#wrapperForm{
	background: #efefef;
}


































