@charset "UTF-8";
/* 전체 div */
#all_div {
    margin: 80px auto 0px auto;
    width: 1000px;
}

/* img, 메뉴 이름, 검색 div */
#menu_div {
    padding: 0px 10px;
    display: flex;
    border-bottom: 4px solid #efefef;
}

#menu_left_div {
    flex: 1;
    text-align: left;
    padding-bottom: 20px;
}

#menu_img {
    width: 40px;
    height: 40px;
    text-align: left;
    vertical-align: bottom;
    color: rgb(202,240,170);
}

#menu{
	font-size: 30px;
	font-weight: 700;
	text-align: left;
}
#wrapperForm{
	text-align:center;
	align-content: center;
}

.writeForm{
	
}

#writer{
	float:left;
	
	
}


#category{
	float:left;
	border: 1px solid black;
}

#title .textarea_input{
	display: block;
    width: 100%;
    min-height: 40px;
    padding: 11px 12px 10px;
    border: 1px solid #ebecef;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    word-break: break-all;
    font-size: 15px;
    letter-spacing: -.23px;
    line-height: 17px;
    outline: none;
}

#hashTag{
	float:left;
	border: 1px solid black;
}

#content{
	text-align:center;
	border: 1px solid black;
}
#writerForm{
	border :none;
	
}

textarea{
	

}

.test{	  
	

}
	 
#thumbnails{
	
	border: 1px solid #ebecef;
	height:150px;
	overflow-x:auto;
	overflow-y:hidden;
	white-space: nowrap;	
}

.drag-over { 
	background-color: #ff0;
	  }

.thumb { 
	position:relative;
	width:200px; 
	display:inline-block;
	padding:5px;
	}

.thumb > img { 
	width:200px;
    height:100px;
    
	}

.thumb > .close {
	position:absolute;
	width:30px; 
	height:30px;
	background-color:lightgrey; 
	cursor:pointer;
	margin-bottom:-20px;

	 }
#select_search{
	width: 1000px; /* 원하는 너비설정 */
    padding: .8em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background: url('이미지 경로') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid #999;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    text-align-last:center;
}	 




































