:root {
  --hotel-info-bg-color: #cfe3e1;
  --insert-hotel-btn-bg-color: #497f55;
  --search-hotel-btn-bg-color: #77af82;
  --category-btn-bg-color: #a7e1af;
  --category-btn-txt-color: #515357;

  --bright-btn-active: #55c9a4;
  --insert-hotel-btn-active: #a7e1af;

  --pagination-bg-color: #eaeaea;
  --pagination-txt-color: #497f55;
  --pagination-hover-txt-color: #55c9a4;

  --pagination-active-bg-color: #497f55;
  --pagination-active-txt-color: #fff;
}

/*
=============================================================
怨듯넻 container
*/
body {
  width: 100vw;
  overflow-x: auto;
  overflow-y: scroll;
}

.main-container{
	height: 100vh;
	overflow-y: scroll;
}

.container {
  position: relative;
  width: 100%;
  margin: 1.5em auto; /*16px*1.5=24px*/
  box-sizing: content-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  box-sizing: content-box;
}

/*
===============================================================
�샇�뀛�삁�빟 ���씠��
*/
#title_img_container {
  padding: 1em;
  /*div:16px => 1em* 16 => 16px留뚰겮�쓽 �뙣�뵫�씠 �깮源�.*/
  margin-bottom: 0.5em;
}

#hotel_menu_container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  position: relative;
}

#hotel_menu_container > .img {
	background-image: url('../images/hotel.png');
  width: 95px;
  height: 93px;
  background-position: center;
  background-repeat: no-repeat;
}

#hotel_menu_container div.img {
  margin-right: 10px;
}

#main-title {
  padding-top: 1em;
}

/*
============================================================= 
硫붾돱寃��깋諛� 
 */
ul {
  list-style-type: none;
}

#nav_container {
  margin: 0.5em auto;
}

/*寃��깋硫붾돱諛�*/
#top_menu_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*�긽�꽭寃��깋*/
#detail_search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 10px;
}

#detail_search li {
  padding: 0 10px;
}

/*移댄뀒怨좊━ 寃��깋*/
#category_search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

#top_menu_bar > div:nth-child(2) {
  display: block;
  flex-grow: 2;
}

#category_search li {
  padding: 0 10px;
}

/*踰꾪듉 �뵒�옄�씤*/
button.btn {
  border-style: none;
  font-weight: bold;
}

#insertHotel {
  background-color: var(--insert-hotel-btn-bg-color);
}

#searchHotel {
  background-color: var(--search-hotel-btn-bg-color);
}

#insertHotel:hover,
#searchHotel:hover {
  background-color: var(--bright-btn-active);
  color: var(--category-btn-txt-color);
}

button.category_btns {
  background-color: var(--category-btn-bg-color);
  color: var(--category-btn-txt-color);
}

#insertHotel:active {
  background-color: var(--insert-hotel-btn-active);
}

/*
 ===========================================================
 �샇�뀛由ъ뒪�듃
 */

/*
 ===========================================================
 �샇�뀛 �젙蹂�
 */

#hotel_lists_container {
  display: flex;
  flex-direction: column;
  justify-content: sapce-around;
}

/*�샇�뀛 �븳媛� 釉붾줉*/
.one-hotel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--hotel-info-bg-color);
  border-radius: 10px;
  position: relative;
  box-sizing: content-box;
  margin: 1em;
}

/*醫뗭븘�슂 踰꾪듉 而⑦뀒�씠�꼫*/
.like-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.2em;
  box-sizing: content;
  position: relative;
}

/*醫뗭븘�슂踰꾪듉*/
.fa-heart {
  font-size: 2em;
  z-index: 1;
}

/*�샇�뀛�젙蹂� 而⑦뀒�씠�꼫*/
.hotel-info-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding: 0 1em;
  padding-bottom: 1.2em;
}

.hotel-thumbnail-img-container {
  width: 50%;
  position: relative;
  padding: 0 1em;
}

/*�샇�뀛�뜽�꽕�씪*/
.hotel-thumbnail-img-container img {
  width: 100%;
  height: 12em;
  position: relative;
}

/*�샇�뀛 �뵒�뀒�씪 info*/
.hotel-detail-info-container {
  width: 50%;
  padding: 0 1.5em;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
==============================================================
pagenation
*/
#paginations_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: content-box;
}

#paginations_container > nav {
  position: relative;
  box-sizing: content-box;
}

#paginations_container ul {
  position: relative;
  box-sizing: content-box;
}

a.page-link {
  color: var(--pagination-txt-color);
}

a.page-link:hover {
  background-color: var(--pagination-bg-color);
  color: var(--pagination-hover-txt-color);
}

a.page-link:active {
  background-color: var(--pagination-active-bg-color);
  color: var(--pagination-active-txt-color);
}
/*
=============================================================
*/

/*紐⑤컮�씪*/

@media screen and (max-width: 600px){
	.container{
		padding:0
	}
	.main-container{
		padding:0
	}
	
	#category_search, #detail_search {
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0;
    margin-bottom: 0;
  }
  
  #category_search li, #detail_search li{
    padding:0;
  }
  
  #nav_container{
  	padding-left: 0;
  }
}

/*�솕硫댁쓽 screen 768px蹂대떎 �옉�떎硫�*/
@media screen and (max-width: 768px) {
	body{
		overflow-y: scroll;
	}
  /*�샇�뀛�삁�빟 ���씠��*/
  #hotel_menu_container {
    justify-content: center;
    align-items: center;
  }

  #main-title {
    /* font-size: 1.5em; */
    /* visibility: hidden; */
    display: none;
  }

  /* #hotel_menu_container > div.img {
  } */

  /* 寃��깋硫붾돱諛� */
  #top_menu_bar {
    flex-direction: column;
    justify-items: center;
    width: 100%;
    position: relative;
  }

  #top_menu_bar > div:nth-child(2) {
    display: none;
  }

  #top_menu_bar > div {
    width: 100%;
  }

  /*�긽�꽭寃��깋*/
  #detail_search {
    flex-direction: column;
    padding: 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0;
  }

  /*移댄뀒怨좊━ 寃��깋*/
  #category_search {
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 0;
  }

  #detail_search li,
  #category_search li {
    width: 100%;
    position: relative;
    padding: 10px 1em;
  }

  .btn-success {
    width: 100%;
    position: relative;
  }

  /* hotel lists */
  /*�샇�뀛1媛� 而⑦뀒�씠�꼫*/
  .one-hotel-container {
    flex-direction: column;
    justify-content: center;
  }
  .hotel-thumbnail-img-container {
    width: 100%;
    padding: 1em;
  }
  .hotel-thumbnail-img-container img {
    width: 100%;
  }

  /*�샇�뀛�젙蹂� 而⑦뀒�씠�꼫*/
  .hotel-info-container {
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .hotel-detail-info-container {
    width: 100%;
    padding: 2em;
  }
}

/*768px蹂대떎 �겙寃쎌슦..*/
@media screen and (min-width: 768px) {
}
