/* common for all hotel pages */
:root { 
	--dark-green: #497f55; 
	--mid-green: #77af82; 
	--bright-green: #a7e1af; 
	--emerald-green: #55c9a4; 
	--dark-gray: #515357; 
	--blue-gray: #cfe3e1; 
	--pink-gray: #eaeaea; 
	--heart-pink: #f52043; 
	--hash-gray: #c8cbcc; 
	--btn-color: #fff; 
	--edit-red: #f56c85; 
	--edit-red-hover: #bd3951;
}

body{
	margin: 0;
	padding: 0;
}

#main-container {
	width: 1000px;
	margin: 50px auto;
	box-sizing: content-box;
}

#title-container {
	box-sizing: content-box;
	padding-left: 10px;
	text-align: left;
	vertical-align: bottom;
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 4px solid #eee;
}

#hotel-icon {
	width: 40px;
	height: 40px;
	vertical-align: bottom;
	text-align: left;
}

#title-name {
	font-size: 30px;
	font-weight: 700;
	text-align: left;
}

/*  
========================================================
*/

ul{
	list-style: none;
}

a, a:hover, a:active{
	text-decoration: none;
}

/*  
========================================================

 hotel detail only
========================================================
*/

/* setting for the unity into the other pages  */
#main-container{
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	margin: 50px auto;
}

/*
========================================================
	common- hotel info options  
*/
.hotel_detail_common_container{
	position: relative;
	text-align: center;
	padding: 50px 0;
	
	display:flex;
	flex-direction: column;
	justify-content: space-beween;
	
}

.subtitle-container{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 50px;
}

.hotel-info-container{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
	padding:0 50px;
}


/*
========================================================
01. 호텔 이름  
 */

#thumbnail-img-hashtag-container{
	position: relative;
	display:flex;
	flex-direction: column;
	padding-left: 30px;
	
	flex-basis: 60%;
	justify-content: center;
}

/* 썸네일이미지  */
#thumbnail-img{
	position: relative;
	width: 400px;
	height: 400px;
}


/* 해시태그   */
#hash-tags{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

#hash-tags li{
	padding: 0 5px;
}

#hash-tags .fa-hashtag{
	color: var(--mid-green);
}

/* 호텔 정보 컨테이너  */
#hotel-info-wrapper{
	position: relative;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
	padding-right: 30px;
	flex-basis: 40%;
	
}

/* #hotel-detail-info-ul-container{
	padding: 30px 0;
} */

#hotel-detail-info-ul{
	text-align: left;
}

#hotel-detail-info-ul li{
	padding: 5px 0;
}


span.info-icon-container{
	font-size: 30px;
	color: var(--mid-green);
	padding-right: 10px;
}


/* 버튼 wrapper */
#btn-wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	
	padding-top: 25px;
	padding-bottom:10px;
}

#btn-wrapper > button{
	padding: 10px 0;
	margin: 5px 0;
	
	position: relative;
	color: var(--btn-color);
	font-weight: bold;
	border-radius: 3px;
	border-color: transparent;
	
	cursor:pointer;
	width: 85%;
}

/* 예약하기 버튼  */
#go-reservation-btn{
	background-color: var(--mid-green);
}

/* 예약하기 버튼hover 효과   */
#go-reservation-btn:hover{
	background-color: var(--dark-green);
}


/* 수정하기 버튼  */
#edit-hotel-detail-info-page-btn{
	background-color: var(--edit-red);
}

/* 수정하기 버튼 hover효과 */
#edit-hotel-detail-info-page-btn:hover{
	background-color: var(--edit-red-hover);
}


/*
========================================================
02. 호텔 소개   
 */
 
#hotel-introduction{
	padding: 0 100px;
} 
 
 
 /*
========================================================
03. 호텔 이미지 뷰어   
 */
 
#hotel-image-viewer{
	position: relative;
	width: 700px;
	
} 
 
#hotel-detail-view-photos{
	position: relative;
/* 	display: block; */
font-size: 0;
}


#first_detail_view_wrapper,
div.detail_view_under_wrapper{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover; /* full of the image */
	background-clip: content-box;
	box-sizing:content-box;
}

/* 가장 첫번째 호텔 디테일사진*/
#first_detail_view_container{
	position: relative;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}


#first_detail_view_wrapper{
	width: 650px;
	height: 500px;
	background-position: 50%;
}

.detail_view_under_container{
	position: relative;
		
	display: inline-block;
	margin-right: 2px;
}

.detail_view_under_container:nth-child(4){
	margin-right:0;
}

div.detail_view_under_wrapper{
	width: 200px;
	height: 150px;
}

#more_detail_view > .detail_view_under_wrapper{
	background-color: var(--dark-gray);
	text-align: center;
	position: relative;
	display : inline-block;
	vertical-align: bottom;
}

#more_photo_num{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	line-height: 150px;
}
 
 
 /*
========================================================
04. 1박이용 가격비교   
 */


/*
========================================================
05. 호텔시설정보   
 */

 
 /*
========================================================
06. 호텔 위치   
 */
 
 
/*
========================================================
07. 호텔 리뷰   
 */