/* common for all hotel pages */
:root { 
	--dark-green: #497f55; 
	--mid-green: #77af82; 
	--bright-green: #a7e1af; 
	--emerald-green: #55c9a4; 
	--dark-gray: #515357; 
	--blue-gray: #cfe3e1; 
	--pink-gray: #eaeaea; 
	--heart-pink: #f52043; 
	--hash-gray: #c8cbcc; 
	--btn-color: #fff; 
	--edit-red: #f56c85; 
	--edit-red-hover: #bd3951;
	--viewer-black: #222;
}

html, body{
	margin: 0;
	padding: 0;
}

#main-container {
	width: 1000px;
	margin: 50px auto;
	box-sizing: content-box;
}

#title-container {
	box-sizing: content-box;
	padding-left: 10px;
	text-align: left;
	vertical-align: bottom;
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 4px solid #eee;
}

#hotel-icon {
	width: 40px;
	height: 40px;
	vertical-align: bottom;
	text-align: left;
}

#title-name {
	font-size: 30px;
	font-weight: 700;
	text-align: left;
}

/*  
========================================================
*/

ul{
	list-style: none;
}

a, a:hover, a:active{
	text-decoration: none;
}

/*  
========================================================

 hotel detail only
========================================================
*/

/* setting for the unity into the other pages  */
#main-container{
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	margin: 50px auto;
}

/*
========================================================
	common- hotel info options  
*/
.hotel_detail_common_container{
	position: relative;
	text-align: center;
	padding: 50px 0;
	
	display:flex;
	flex-direction: column;
	justify-content: space-beween;
	
}

.subtitle-container{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

.hotel-info-container{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
	padding:0 50px;
}


/*
========================================================
01. 호텔 이름  
 */

#thumbnail-img-hashtag-container{
	position: relative;
	display:flex;
	flex-direction: column;
	padding-left: 30px;
	
	flex-basis: 60%;
	justify-content: center;
}

/* 썸네일이미지  */
#thumbnail-img{
	position: relative;
	width: 400px;
	height: 400px;
}


/* 해시태그   */
#hash-tags{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

#hash-tags li{
	padding: 0 5px;
}

#hash-tags .fa-hashtag{
	color: var(--mid-green);
}

/* 호텔 정보 컨테이너  */
#hotel-info-wrapper{
	position: relative;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
	padding-right: 30px;
	flex-basis: 40%;
	
}

/* #hotel-detail-info-ul-container{
	padding: 30px 0;
} */

#hotel-detail-info-ul{
	text-align: left;
}

#hotel-detail-info-ul li{
	padding: 5px 0;
}


span.info-icon-container{
	font-size: 30px;
	color: var(--mid-green);
	padding-right: 10px;
}


/* 버튼 wrapper */
#btn-wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	
	padding-top: 25px;
	padding-bottom:10px;
}

#btn-wrapper > button{
	padding: 10px 0;
	margin: 5px 0;
	
	position: relative;
	color: var(--btn-color);
	font-weight: bold;
	border-radius: 3px;
	border-color: transparent;
	
	cursor:pointer;
	width: 85%;
}

/* 예약하기 버튼  */
#go-reservation-btn{
	background-color: var(--mid-green);
}

/* 예약하기 버튼hover 효과   */
#go-reservation-btn:hover{
	background-color: var(--dark-green);
}


/* 수정하기 버튼  */
#edit-hotel-detail-info-page-btn{
	background-color: var(--edit-red);
}

/* 수정하기 버튼 hover효과 */
#edit-hotel-detail-info-page-btn:hover{
	background-color: var(--edit-red-hover);
}


/*
========================================================
02. 호텔 소개   
 */
 
#hotel-introduction{
	padding: 0 100px;
} 
 
 
 /*
========================================================
03. 호텔 이미지 뷰어   
 */
 
 
 /*마이리얼트립 모델 활용(사용안함)  */
/*  
#hotel-image-viewer{
	position: relative;
	width: 700px;
	
}  
*/

 
#hotel-detail-view-photos{
	position: relative;
/* 	display: block; */
font-size: 0;
}


#first_detail_view_wrapper,
div.detail_view_under_wrapper{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover; /* full of the image */
	background-clip: content-box;
	box-sizing:content-box;
}

/* 가장 첫번째 호텔 디테일사진*/
#first_detail_view_container{
	position: relative;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}


#first_detail_view_wrapper{
	width: 610px;
	height: 500px;
	background-position: 50%;
}

.detail_view_under_container{
	position: relative;
		
	display: inline-block;
	margin-right: 5px;
}

.detail_view_under_container:nth-child(4){
	margin-right:0;
}

div.detail_view_under_wrapper{
	width: 200px;
	height: 150px;
}

#more_detail_view > .detail_view_under_wrapper{
	background-color: var(--dark-gray);
	text-align: center;
	position: relative;
	display : inline-block;
	vertical-align: bottom;
}

.more_photo_num{
	font-size: 30px;
	color: #999;
	font-weight: bold;
	line-height: 150px;
}

#more_detail_view:hover,
.more_photo_num:hover{
	color: #fff;
	cursor:pointer;
}



 /*=========================
 03-2. swiper api를 활용  
 */
 
 	/*hotel-info-container 바로 밑에있는 컴포넌트에서 패딩적용할것!
	시설정보/ 이미지뷰어 공통으로 적용.  */
.hotel-image-viewer{
	position: relative;
	width: 80%;
	background-color: var(--viewer-black);
	height: 500px;
	padding-bottom: 20px;
}  
 
 
 .swiper-container{
	position: relative;
	width: 98%;
	height: 500px;
	margin-left: auto;
 	margin-right: auto;
 }
 
 .swiper-slide{
 	position: relative;
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
 }
 
 .gallery-top{
	position: relative;
 	height: 80%;
 	width:100%;
 	margin-bottom: 10px;
 }
 
 .swiper-wrapper{
 	position: relative;
 }
 
 
 .gallery-thumbs{
 	position: relative;
 	height: 20%;
 	box-sizing: border-box;

 }
 
 .gallery-thumbs .swiper-slide{
 	position: relative;
	height: 100%;
 	opacity: 0.4;
 }
 
 .gallery-thumbs .swiper-slide-thumb-active{
 position: relative;
 	opacity: 1;
 }
 
 
 
 /*
========================================================
03-3.  호텔 이미지 뷰어 모달창  (사용안함.)  
 */

 
 #image-viewer-modal-container{
 	position: fixed;
 	left:0;
 	top: 0;
 	display: table;
 	height: 100%;
 	width: 100%;
 	z-index: 1;
 	
 	transform: scale(0);
 }

#image-viewer-modal-container .modal-background{
	display: table-cell;
	background: rgba(0,0,0, .8);
	text-align: center;
	vertical-align: middle;
}


#image-viewer-modal-container .modal-background .modal{
	background: #fff; /* modal content background default */
	padding: 50px; 
	display: inline-block;
	border-radius: 3px;
	position: relative;
}


/* design the contents of modal */
 #image-viewer-modal-content-container{
 	position: relative;
 	display: flex;
 	flex-direction: column;
 	
 }
 
 
 .modal-close-btn-container,
 #modal-content-container{
 	position: relative;
 }
 
 /* modal창 닫기   */
 .modal .modal-close-btn-container{	
 	display: flex;
 	flex-direction: row;
 	justify-content: flex-end;
 }
 
 
 #close_modal_btn{
 	font-size: 30px;
 	cursor: pointer;
 }
 
 #close_modal_btn:hover{
 	color: var(--mid-green);
 	
 }
 
 
 /* modal창 내용 컨테이너  */
 #modal-content-container{
 	margin: 30px 0;
 }
 

 
/*
 * ------------------------------
 * Revealing Animation (사용안함)
 * ------------------------------
 */
 html, body{
	min-height: 100%;
	height: 100%;
 }
 
 html.modal-active,
 body.modal-active{
 	overflow: hidden;
 } 
 
 #image-viewer-modal-container{
 	position: fixed;
 	left:0;
 	top:0;
 	display: table;
 	height: 100%;
 	width: 100%;
 	z-index: 1;
 	transform: scale(0);
 }
 
 #image-viewer-modal-container .modal-background{
 	display: table-cell;
 	background: rgba(0,0,0, .8);
 	text-align: center;
 	vertical-align: middle;
 }
 
 #image-viewer-modal-container .modal-background .modal{
 	background: #fff;
 	padding: 50px;
 	display: inline-block;
 	border-radius: 3px;
 	position: relative;
 }
 
 #image-viewer-modal-container.photo_viewer_modal{
 	transform: scale(1);
 }
 
 #image-viewer-modal-container.photo_viewer_modal .modal-background{
 	background: transparent;
 	animation: fadeIn .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
 }
 
 #image-viewer-modal-container.photo_viewer_modal .modal-background .modal{
 	opacity: 0;
 	animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
 }
 
 .hotel-info-container:nth-child(3).photo_viewer_modal{
 	animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
 }
 
 /* disappearing modal  */
 #image-viewer-modal-container.photo_viewer_modal.out{
 	animation: quickScaleDown 0s .5s linear forwards;
 }
 
 #image-viewer-modal-container.photo_viewer_modal.out .modal-background{
 	animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
 }
 
 #image-viewer-modal-container.photo_viewer_modal.out .modal-background .modal{
 	animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
 }
 
 .hotel-info-container:nth-child(3).photo_viewer_modal.out{
 	animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
 }



/* Dimmed showing */
@keyframes fadeIn {
	0% {
		background: transparent;
	}
	100% {
		background: rgba(0, 0, 0, .7);
	}
}
/* Show modal content from bottom to top */
@keyframes scaleUp {
	0% {
		/* 모달 콘텐츠를 하단에 위치시킴 */
		transform: scale(.8) translateY(1000px);
		opacity: 0;
	}
	100% {
		/* 모달 콘텐츠를 본래 위치로 돌려놓음 */
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}
/* Shrink content */
@keyframes scaleBack {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(.8);
	}
}
/* Hide modal container*/
@keyframes quickScaleDown {
	0% {
		transform: scale(1);
	}
	99.9% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
/* Dimmed hiding */
@keyframes fadeOut {
	0% {
		background: rgba(0, 0, 0, .7);
	}
	100% {
		background: transparent;
	}
}
/* modal content from top to bottom */
@keyframes scaleDown {
	0% {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
	100% {
		transform: scale(.8) translateY(1000px);
		opacity: 0;
	}
}

@keyframes scaleBack {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(.85);
	}
}
@keyframes scaleForward {
	0% {
		transform: scale(0.85);
	}
	100% {
		transform: scale(1);
	}
}

 
 
 
 /*
========================================================
04. 1박이용 가격비교   
 */


/*
========================================================
05. 호텔시설정보   
 */

/* #hotel-options-ul > li >span:nth-child(1) > *{
	font-size: 30px;
} */

#hotel-options-ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: baseline;
	
	padding: 0 50px;
}

#hotel-options-ul li{
	padding: 10px;
	margin: 0 10px;
}

#hotel-options-ul .hotel-option-icon{
	/* font-size: 30px; */
	width: 45px;
	height: 45px;
}


#hotel-options-ul span{
	display: block;
}



 
 /*
========================================================
06.  호텔 리뷰   
 */
 
 
 
 
 
  
 