@charset "UTF-8";
/* 전체 div */
#all_div {
    margin: 80px auto 0px auto;
    width: 1000px;
}

/* img, 메뉴 이름, 검색 div */
#menu_div {
    padding: 0px 10px;
    display: flex;
    border-bottom: 4px solid #eee;
}

#menu_left_div {
    flex: 1;
    text-align: left;
    padding-bottom: 20px;
}

#menu_img{
	width: 40px;
	height: 40px;
	text-align: left;
	vertical-align: bottom;
}

#menu{
	font-size: 30px;
	font-weight: 700;
	text-align: left;
}

#menu_right_div{
	flex: 3;
	text-align: right;
	position: relative;
	top: 10px;
}

#input_search {
    width: 200px;
    height: 26px;
}

#button_search{
	width: 60px;
	height: 30px;
	border: none;
	background: #77af82;
	color: white;
	border-radius: 5px;
}


/* 해쉬태그 div  */
#hashtag_div{
	padding: 10px;
	text-color : #a7e1af;
}

#hashtag_div a{
	text-decoration:none;
	color:black;
}
#hashtag_div a:hover{
    	text-decoration:none;
    	color:#497f55;
    	font-weight: 800;
}

#hashtag_div li{
		float: left;
		list-style: none;
		padding: 5px;
}
/* 카테고리 테이블 div */
#cate_name {
    font-size: x-large;
    font-weight: bold;

}

#cate_icon{
	height: 10px;
	width: 10px;
}

#cate_table_div {
    width: 900px;
    margin: 0px auto;
    padding: 60px 0px 30px 0px;
}

#local_table{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin: 16px 0px 30px 0px;
	width: 900px;
}

#local_table td{
	border: 1px solid black;
	width: 100px;
	height: 30px;
}


#local_table td:hover {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    background-color: #77af82;
    color: white;
    cursor: pointer;
}


#theme_table{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin: 16px 0px 30px 0px;
	width: 900px;
}

#theme_table td{
	border: 1px solid black;
	width: 129px;
	height: 30px;
}

#theme_table td:hover{
	border: 1px solid black;
	width: 129px;
	height: 30px;
	background-color: #77af82;
    color: white;
    cursor: pointer;
}


#list_all_div{
	margin: 20px auto;
	padding: 10px 30px 35px 30px;
	width: 840px;
	background: #efefef;
}

#list_count_div{
	font-weight: 600;
	margin: 10px 0px;
}

#list_count{
	color: #497f55;
	margin: 0px 10px;
}

#list_etc{
	margin: 0px 3px 0px 285px;
}






#list_travel_div{
	width: 820px;
	padding: 10px;
	background: white;
	display: flex;
}


#travel_img{
	width: 250px;
	height: 170px;
}

#travel_name_writer_div{
	padding: 40px 20px;
	/* flex: 1; */
}

#travel_name{
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 20px;
}


#travel_name:hover{
	cursor: pointer;
	text-decoration: underline;
	
}

#travel_cate_tag_div{
	padding: 40px 20px;
	/* flex: 1; */
}

#travel_cate{
	margin: 20px 0px;
}


/* 등록하기 버튼 div */
#button_write_div{
	width: 900px;
	margin: 30px auto;
	text-align: right;
}

#button_write{
	width: 70px;
	height: 30px;
	border: none;
	background: #77af82;
	color: white;
	border-radius: 5px;
}

#button_write:hover{
	cursor: pointer;
}

/* 페이징 */
#paging_div{
	text-align: center;
}

#paging_div button{
	width: 25px;
	height: 25px;
	border: none;
}

#current{
	background: #77af82;
	color: white;
}


/* input이나 button 클릭 시 outline 제거 */
#input_search, #button_search, #button_write, #paging_div button{
	outline: none;
}