<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis/org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">
	
  	<select id="getListCount" resultType="_int">
		select count(*)
    	from board b
  		where BO_DELETE_YN='N' AND B.CA_CODE=3 OR B.CA_CODE=4
  	</select>
  	
  	<select id="selectList" resultMap="reviewResultSet">
  		select B.BO_NO,B.CA_CODE,B.BO_TITLE,B.BO_CONTENT,B.MEMBER_ID,B.BO_COUNT,B.BO_TAG,B.BO_DELETE_YN,B.REGDATE,C.CA_NAME,I.ORIGIN_NAME,I.CHANGE_NAME,M.NICKNAME
        from board b
         left JOIN CATEGORY C 
            ON B.CA_CODE = C.CA_CODE
         left JOIN IMG_FILE I
            ON B.BO_NO = I.BO_NO
         LEFT JOIN MEMBER M
            ON B.MEMBER_ID = M.MEMBER_ID
         where BO_DELETE_YN='N' AND B.CA_CODE=3 OR B.CA_CODE=4
   		 order by BO_NO desc       
  		 <!-- select *
  		 from board
         JOIN CATEGORY USING(CA_CODE)
   		 where BO_DELETE_YN='N' AND CA_CODE=3 OR CA_CODE=4
   		 order by BO_NO desc  -->
   		 <!-- select *
  		 from board B
         INNER JOIN CATEGORY C
             ON B.CA_CODE = C.CA_CODE
         INNER JOIN IMG_FILE I
             ON B.BO_NO = I.BO_NO
   		 where B.BO_DELETE_YN='N' AND B.CA_CODE=3 OR B.CA_CODE=4
   		 order by B.BO_NO desc -->

   		 
  	</select>

  <resultMap type="Review" id="reviewResultSet">
      <id column="BO_NO" property="boNo"/>
      <result column="CA_CODE" property="caCode"/>
      <result column="BO_TITLE" property="boTitle"/>
      <result column="BO_CONTENT" property="boContent"/>
      <result column="MEMBER_ID" property="memberId"/>
      <result column="BO_COUNT" property="boCount"/>
      <result column="BO_TAG" property="boTag"/>
      <result column="BO_DELETE_YN" property="boDeleteYN"/>
      <result column="REGDATE" property="regDate"/>
      <result column="CA_NAME" property="caName"/> 
      <result column="ORIGIN_NAME" property="originName"/>
      <result column="CHANGE_NAME" property="changeName"/>
      <result column="NICKNAME" property="nickName"/>
   </resultMap>
   
  	 <update id="addReadCount">
   		update board
   		set BO_COUNT= BO_COUNT + 1
   		where BO_NO= #{boNo}
   </update>
 

   <select id="selectReview" resultMap="reviewResultSet">
   	  <!--  select *
       from board
       JOIN CATEGORY USING(CA_CODE)
       where BO_NO=#{boNo} and BO_DELETE_YN='N'  -->
       select B.BO_NO,B.CA_CODE,B.BO_TITLE,B.BO_CONTENT,B.MEMBER_ID,B.BO_COUNT,B.BO_TAG,B.BO_DELETE_YN,B.REGDATE,C.CA_NAME,I.ORIGIN_NAME,I.CHANGE_NAME,NICKNAME
        from board b
         LEFT JOIN CATEGORY C 
            ON B.CA_CODE = C.CA_CODE
         LEFT JOIN IMG_FILE I
            ON B.BO_NO = I.BO_NO
         LEFT JOIN MEMBER M
            ON B.MEMBER_ID = M.MEMBER_ID
         where B.BO_NO = #{boNo} AND BO_DELETE_YN='N' AND (B.CA_CODE=3 OR B.CA_CODE=4)
   		 order by BO_NO desc 
   </select> 
   
  <insert id="insertReview">
		<!-- INSERT
 		INTO BOARD (BO_NO,MEMBER_ID,CA_CODE,BO_TITLE,BO_TAG,BO_CONTENT)
 		VALUES(SEQ_BO_NO.NEXTVAL,#{memberId},#{caCode},#{boTitle},#{boTag},#{boContent})	-->
	
 		INSERT ALL 
		INTO BOARD(BO_NO,MEMBER_ID,CA_CODE,BO_TITLE,BO_TAG,BO_CONTENT)
		VALUES(SEQ_BO_NO.NEXTVAL,#{memberId},#{caCode},#{boTitle},#{boTag},#{boContent})
		INTO IMG_FILE 
		VALUES(SEQ_FILE_NO.NEXTVAL,SEQ_BO_NO.NEXTVAL,#{originName},#{changeName},1,'null',DEFAULT)
		SELECT *
		FROM DUAL
  </insert>
  
  <insert id="insertBoard">
  		INSERT
 		INTO BOARD (BO_NO,MEMBER_ID,CA_CODE,BO_TITLE,BO_TAG,BO_CONTENT)
 		VALUES(SEQ_BO_NO.NEXTVAL,#{memberId},#{caCode},#{boTitle},#{boTag},#{boContent})
  </insert>
  
   <update id="updateReview">
   		
   		UPDATE BOARD 
   		
   		SET BO_TITLE=#{boTitle}, 
   			BO_CONTENT=#{boContent},
   	  		CA_CODE=#{caCode}, 
   	  		BO_TAG=#{boTag}
   	  		REGDATE=SYSDATE
        
   		WHERE BO_NO= #{boNo}
   		
   		
   
   	  <!-- update (
   	  		select b.ca_code,b.bo_title,b.bo_content,b.bo_tag,b.regdate,i.origin_name,i.change_name
   	  		from board b
   	  			,img_file i
   	  		where b.bo_no=i.bo_no	
   	  	)
   	  	set BO_TITLE=#{boTitle}, BO_CONTENT=#{boContent},
   	  	CA_CODE=#{caCode}, BO_TAG=#{boTag},
   	  	<if test="originName != null">
         ORIGIN_NAME=#{originName},
         </if>
         CHANGE_NAME=#{changeName}, REGDATE=sysdate
         where bo_no=#{boNo}
          -->
 
     <!--  update BOARD(BO_NO,MEMBER_ID,CA_CODE,BO_TITLE,BO_TAG,BO_CONTENT)
      set BO_TITLE=#{boTitle},BO_CONTENT=#{boContent},CA_CODE=#{caCode},BO_TAG=#{boTag}
         <if test="originName != null">
         ORIGIN_NAME=#{originName},
         </if>
         CHANGE_NAME=#{changeName}, REGDATE=sysdate
      where b.BO_NO=#{boNo} -->

   </update>
   
   <update id="deleteReview">
       update board B, REPLY R
       set BO_DELETE_YN='Y' , RE_DELETE_YN='Y'
       where BO_NO=#{boNo} 
   </update> 
   
   <insert id="insertReply">
       insert into reply
       values (SEQ_re_no.NEXTVAL,#{boNo},#{memberId},sysdate,#{reContent},default)
   </insert>
   
   <select id="selectReplyList" resultMap="replyResultSet">
       select *
       from reply r
       LEFT JOIN MEMBER M
            ON r.MEMBER_ID = M.MEMBER_ID
       where BO_NO=#{boNo}
       order by re_no desc
   </select> 
   
   <resultMap type="Reply" id="replyResultSet">
   <id property="reNo" column="RE_NO"/>
		<result column="BO_NO" property="boNo" />
		<result column="MEMBER_ID" property="memberId"/>
		<result column="RE_DATE" property="reDate" />	
		<result column="RE_CONTENT" property="reContent" />
		<result column="RE_DELETE_YN" property="reDeleteYN" />
		<result column="NICKNAME" property="nickName"/>
   </resultMap>
  
  

</mapper>










