@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);    
    
    *{  font-family: 'Nanum Gothic'; margin: 0; padding: 0;}/* 나눔고딕 폰트 설정 */
    header{ width:100%; margin: 0 auto;}
    ul { margin : 0px; display: inline-block;}
    a{ text-decoration:none;
    	color:black;}
    
    
    /* 상단바   */
    #rootBar{ background-color: rgb(207,227,225); margin : 0px auto; height: 35px; }
    #root_1{ display:inline-block; width: 1150px; height: 25px; }
    #root_2{ display: inline-block; width: 250px; height: 25px; text-align: center; }
    #root_3{ display:inline-block; width: 1050px; height: 25px; }
    #root_4{ display: inline-block; width: 400px; height: 25px; text-align: center; }

    /* 로그아웃 상태 */
    .topBar{ display: inline-block; font-size: 13px; vertical-align: top; cursor:pointer; padding-right: 10px;  }
    /* 로그인 상태  */
    .topBar2_1{ display: inline-block; font-size: 13px; vertical-align: top; padding-right: 10px; }
    .topBar2_2{ display: inline-block; font-size: 13px; vertical-align: top; padding-right: 10px; cursor:pointer; }
    
    
    /*  메인로고(전국방방곡곡)  */
    #mainDiv { width: 1300px; text-align: center; margin:  0 auto;}
    #mainLogo { width: 280px; cursor: pointer; }
      
    
    /*  메뉴(여행지, 여행코스, 여행후기, 호텔)  */
    #menu_1{ height:100px; border-bottom: 2px solid lightgray; text-align: center; margin: 0 auto; }
    #menu_2{ height : 20px; }
    .menu { display: inline-block; width:200px; height: 50px; text-align: center; 
            border-right: 1px solid lightgray; }
    .menuLabel { vertical-align : top; line-height: 50px; font-weight : bold; cursor: pointer; }
    #menuIcon1 { font-size: 40px; margin-right: 4px; color : rgb(228,247,186); }
    #menuIcon2 { font-size: 40px; margin-right: 4px; color : rgb(242,203,97); }
    #menuIcon3 { font-size: 40px; margin-right: 4px; color : rgb(218,219,255); }
    #menuIcon4 { font-size: 40px; margin-right: 4px; color : rgb(255,167,167); }
    #menu_3{ display : inline-block; width : 100px; margin: 0 auto; vertical-align: top; }
    #menu_4{ display : inline-block; height : 50px; }
    #space1{ display: inline-block; width: 70px; }
    #space2{ display: inline-block; width: 250px; }
    #space3{ display: inline-block; width: 250px; }