ul {
    list-style-type: none;
    margin: 0px;
    display: inline-block;
}

div {
	margin: 0px;
    padding: 0px;
}

/* 상단바  */
#rootBar{
    background-color : rgb(207,227,225);
    width: 100vw;
    height: 50px;
}

.topBar {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    cursor: pointer;
}


#header_wrapper{
    display: block;

    position: relative;
    background-color:var(--top-cyan-color);
    padding: 1em;
}


#logo-img-container{
    text-align: center;
}

#main-logo-img{
    width: 330px;
    cursor: pointer;
}

#menu-container{
    display: block;
    height:60px; 
    border-bottom: 2px solid lightgray;
    position: relative;
    margin-bottom: 2em;
}

#menus_wrapper > ul{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.menu{
    text-align: center;
    border-right: 1px solid lightgray;
    padding: 0 1em;
}

.menu  img{
    width: 10em;
    height: auto;
}

.menu:nth-child(4){
    border-right-color: transparent;
}
    
}
