<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    
    <typeAliases>
        <typeAlias type="trip.two.reap.member.model.vo.Member" alias="Member"/>
        <typeAlias type="trip.two.reap.review.model.vo.Review" alias="Review"/>
        <typeAlias type="trip.two.reap.travel.model.vo.Travel" alias="Travel"/>
    </typeAliases>
    
    <mappers>
        <mapper resource="mapper/member-mapper.xml"/>
        <mapper resource="mapper/review-mapper.xml"/>
        <mapper resource="mapper/travel-mapper.xml"/>
    </mappers>
</configuration>

