/* 10.24 loveAlakazam */
:root{
    --top-cyan-color: rgb(207,227,225);
}

body{
	margin:0;
	padding: 0;
}


/* madeby - joyeek */
header {
    position: absolute;
    left: 0px;
    top: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    display: inline-block;
}

.topBar {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    cursor: pointer;
}

/* duplicate topBar */
/*
.topBar2 {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    cursor: pointer; 
}
*/

/* .menu {
    display: inline-block;
    width: 230px;
    height: 50px;
    text-align: center;
    border-right: 1px solid lightgray;
}

.menu > img{
    width: 140px;
} */

/*default setting for css written by joyeek*/
/*
.login_status_wrapper_logout{
     display: inline-block;
     width: 300px;
     height: 30px;
     text-align:center;
}

.login_status_wrapper_login{
    display: inline-block; 
    width: 400px; 
    height: 25px; 
    text-align: center;
}


#main-logo-img{
    width: 400px;
    cursor: pointer;
}

#menus_wrapper{
  display: inline-block; 
  width : 1000px;
  height:50px;  
}
*/

/* 10.24 - 10.25 loveAlakazam */
body{
    margin:0;
    overflow: hidden;
}

header{
    position: relative;
    width: 100%;
}


#header_wrapper{
    display: block;

    position: relative;
    background-color:var(--top-cyan-color);
    padding: 1em;
}

/* 濡쒓렇�씤/濡쒓렇�븘�썐 �긽�깭 而⑦뀒�씠�꼫 */
/* edit setting for css written by loveAlakazam */
.login_status_wrapper_logout, .login_status_wrapper_login{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
    padding-top: 1em;
    padding-right: 1em;
    text-align:center;
    position: relative;
}


/* 硫붿씤�럹�씠吏� 濡쒓퀬 */
#logo-img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center;
    padding: 1em;
}

#main-logo-img{
    width: 20em;
    height: auto;
    cursor: pointer;
}

/*硫붾돱諛� 而⑦뀒�씠�꼫*/
#menu-container{
    display: block;
    height:60px; 
    border-bottom: 2px solid lightgray;
    position: relative;
    margin-bottom: 2em;
}

#menus_wrapper > ul{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.menu{
    text-align: center;
    border-right: 1px solid lightgray;
    padding: 0 1em;
}

.menu  img{
    width: 10em;
    height: auto;
}

.menu:nth-child(4){
    border-right-color: transparent;
}

/*�뻹踰꾧굅 踰꾪듉*/
/* �뻹踰꾧굅 而⑦뀒�씠�꼫 */
#hamburger_container{
    background-color: #fff;
    /* display: flex; */
    display: none;
    flex-direction:row;
    justify-content: flex-end;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#hamburger_container > div:nth-child(1){
    flex-basis: 95%;
}


#hamburger_wrapper{
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin: 5px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#hamburger_wrapper > span.hamburger_bar{
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    background-color: var(--top-cyan-color);

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger_bar:nth-child(1){
    top: 0px;
}

.hamburger_bar:nth-child(2), .hamburger_bar:nth-child(3){
    top: 12px;
}

.hamburger_bar:nth-child(4){
    top: 24px;
}

/* .hamburger_wrapper�뿉 open class瑜� 遺��뿬 => x�몴�떆濡� 諛붾��. */
#hamburger_wrapper.open .hamburger_bar:nth-child(1){
    top: 12px;
    width: 0%;
    left: 50%;
}

#hamburger_wrapper.open .hamburger_bar:nth-child(2){
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger_wrapper.open .hamburger_bar:nth-child(3){
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger_wrapper.open .hamburger_bar:nth-child(4){
    top: 12px;
    width: 0%;
    left: 50%;
}


/* media query - responsive menubar functions - written by loveAlakazam */
/* 768px (�뙣�뱶/ 紐⑤컮�씪 �뵒諛붿씠�뒪�쓽 理쒕� width) �옉�쑝硫� 誘몃뵒�뼱荑쇰━瑜� �쟻�슜�빀�땲�떎.*/
@media screen and (max-width: 768px){
    /* �뻹踰꾧굅 而⑦뀒�씠�꼫*/
    #hamburger_container{
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
    }

    /* head_wrapper�쓣 �닲源곷땲�떎. */
    #header_wrapper{
        display: none;
    }
    
    /* 硫붾돱諛� 而⑦뀒�씠�꼫瑜� �닲源곷땲�떎. */
    #menu-container{
        display: none;
    }
    
    /*濡쒓퀬瑜� 醫��뜑 �겕寃�!*/
    #main-logo-img{
    	width: 28em;
    	height: auto;
	}
    
}
